<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Invoices</title>
<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	
	{{> common/_nav }}
	
	<!-- HTML for the Invoice List -->
	<div id="show-invoice-list">
	<h1>Invoices</h1>
	
	<a id="create-invoice" href="/invoices/clients">Create a new invoice</a>
	
	{{#showTable}}
	<table>
	  <thead>
	    <tr>
	      <th>Number</th>
	      <th>Client</th>
	      <th>Created by</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{#invoices}}
	      <tr>
	        <td>{{ invoiceNumber }}</td>
	        <td>{{ company.name }}</td>
	        <td>{{ createdBy.username }}</td>
	      </tr>
	    {{/invoices}}
	  </tbody>
	</table>
	{{/showTable}}
	
	{{^showTable}}
	<div>There are no invoices.</div>
	{{/showTable}}
	</div>
	
	<!-- HTML for the client list -->
	<div id="show-clients-list">
	<h1>Choose a client for which to create an invoice</h1>
	<br>
	{{#clients.isEmpty}}
	<h1 class="error">No clients with unassigned billing records</h1>
	{{/clients.isEmpty}}
	<ul id="clients-list">
		{{#clients}}
		<li>
			<a href="/invoices/clients/{{ id }}">{{ name }}</a>
		</li>
		{{/clients}}
	</ul>
	</div>
	<script src = "/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/invoices.js"></script>
</body>
</html>