<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin - Invoicify</title>
<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	{{#user.canSeeAdmin}}

	{{> common/_nav }}
	<h1>Create a company</h1>
	{{#errorMessage}}{{ . }}{{/errorMessage}}
	<br>
	<form method="post" action="/admin/companies">
		<input type="text" name="name" placeholder="Company name">
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
		{{#error}}
		<p>Error</p>
		{{/error}}
		<button>Create</button>
	</form>
	{{/user.canSeeAdmin}}
	{{^user.canSeeAdmin}}
		<h1>Not Authorized</h1>
	{{/user.canSeeAdmin}}
</body>
</html>
