@charset "UTF-8";

html, body {
	background-color:black;
	color: green;
	font-family: Verdana;
	font-size: 14px;
}
button {
	border-radius: 10px;
}

button:hover {
	background-color: fuchsia;
}

form {
	display: inline;
}
.error {
	color:white;
	font-style:italic;
}
